* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    max-width: 80vw;
    font-family: "Ubuntu", sans-serif;
}

.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
    color: #bbbbbb;
    text-align: center;
}

.navbar li:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.section1 {
    max-height: 100vh;
    color: white;
}

.section1 h1 {
    font-size: 1.86rem;
    color: rgb(227, 74, 56);
}

.logo {
    font-size: 1.3rem;
}

.dumbellimg {
    width: 250px;
}

.section2 {
    padding: 73px;
}

.section2 h1 {
    font-size: 2.5rem;
}

.section2 p {
    padding: 0 8vw;
    text-align: center;
}

.box {
    border-radius: 8px;
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid #e91e63;
    text-align: center;
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted {
    font-size: 1.2rem;
    font-weight: bolder;
}

.after-highlighted {
    color: #bbbbbb;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table {
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th {
    width: 23vw;
    border-bottom: 2px solid #e91e63;
    padding: 15px 90px;
}

.section3 table td {
    border-bottom: 2px solid #e91e63;
}


.section3 h1 {
    font-size: 2.3rem;
}

.section3 {
    padding: 73px;
}

footer {
    padding: 35px;
    text-align: center;
}

.foot-flex .sm-box {
    padding: 12px;
}





.container-foot {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}